@import url(./reset.css);

body {
    background-color: #ffffff;
    font-family: 'Poppins', 'Lato', 'Arial', sans-serif;
}

.container {
    width: min(100% - 20px, 1080px);
    margin-inline: auto;
}

/*--------------------------*/
/* Header                   */
/*--------------------------*/

header {
    background-color: #ffffff;
    height: 100px;
    vertical-align: middle;
}

header .flex {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

/*TITLE*/

.title {
    overflow:auto
}

.title a img {
    float: left;
    margin-top: 21px;
    margin-right: 3px;
}

.title p {
    float: left;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

/*NAVIGATION*/
nav {
    line-height: 70px;
}

nav ul {
    list-style: none;
    font-size: 0;
}

nav ul li {
    display: inline;
    height: 100%;
}

nav ul li a {
    margin: 0;
    padding: 0;
    color: #999999;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 100px;
    text-decoration: none;
    letter-spacing: 0px;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #414141;
    cursor: pointer;
}

nav ul li a:focus {
    color: #3D3D3D;
}

nav ul li + li {
    margin-left: 25px;
    line-height: 70px;
}

.menu  {
    display: none;
    line-height: 100px;
}

.fa-solid {
    color: #000;
}

.CV {
    margin-top: 0;
    padding-top: 0;
    width: 68px;
    height: 33px;
    background-color: #fff;
    border: 1px solid #999999;
    border-radius: 30px;
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    transition: background-color 0.3s ease-in-out;
}

.CV:hover {
    transition: background-color 0.3s ease-in-out;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul li a { 
        display: none;
    }

    .menu {
        display: block;
        transition: all 1s ease-in-out;
    }
}

/*--------------------------*/
/* MAIN                     */
/*--------------------------*/

.box-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
    height: 500px;

}

.half {
    flex-grow: 1;
    width: calc(50% - 10px);
    height: 100%;
}

@media (max-width: 768px) {
    .half { width: 100%; }
}

/*FIRST*/

.text-1 h1 {
    margin-top: 10px;
    font-size: 59px;
    font-weight: 700;
    color: #000;
    line-height: 70px;


}

.button {
    margin-top: 100px;
    width: 230px;
    height: 60px;
    background-color: #000;
    font-weight: 700;
    border-radius: 35px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.4;
    color: #fff;
    cursor: pointer;
}

/*SECOND*/

.img-box {
    padding: 0;
    margin: 60px 0 0 150px;
    background-image: url(../images/me/avatar.png);
    background-repeat: no-repeat;
    width: 450px;
    height: 400px;
    
}

.down {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #d6d6d6;
    color: #ffffff;
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: 35vh;
    left: 50%;
    margin-left: -1.25rem;
}

/* ---------------------------- */
/* ABOUT ME                     */
/* ---------------------------- */

#about {
    color: #ffffff;
    background-color: #262626;
    width: 100%;
    height: 640px;
    padding: 5rem;
    padding-bottom: 0;
}

#about .photo {
    background-image: url('../images/me/me-cutout-gray.png');
    background-position: center;
    background-size: cover;
    height: 15rem;
    width: 15rem;
    border: 0;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-left: 12.5%;
    position: relative;
    float: left;
}
  
#about .aboutme {
    height: 20rem;
    width: 90%;
}
  
.about-txt {
    margin-bottom: 1.6rem;
}
  
.aboutme h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.8rem;
}
  
.about-list i {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}
  
.about-list ul:first-child {
    float: left;
  }
  
 /* ---------------------------- */
/* Contact me                   */
/* ---------------------------- */

#contact {
    background-color: #eeeeee;
    width: 100%;
    height:500px;
    color: #000000;
    padding: 3rem;
    padding-left: 12.5%;
    padding-bottom: 7rem;
  }
  
  #contact h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  #contact form {
    float: left;
    margin-right: 5rem;
  }
  
  form {
    margin-top: 1rem;
    width: 45%; 
    text-align: right;
  }
  
  input[type=text] {
    width: 100%;
    height: 48px;
    padding: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:rgba(0, 0, 0, 0.1); ;
    border-radius: 5px;
    font-size: 17px;
    color:#000000;
    text-align: left;
  }
  
  input + input {
    margin-top: 15px;
  }
  
  input[type=button ]{
    background-color: #000;
    height: 3rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 0.2rem solid #cfcfcf;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    text-align: center;
    letter-spacing: 0.4px;
    cursor: pointer;
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    float: left;
  }
  
  input[type=button ]:hover {
    scale: 1.05;
    color: #fff;
  }
  
  .contact-txt {
    margin-top: 3rem;
    margin-right: 10rem;
  }
  
  .contact-txt i {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .contact-txt a {
    color: #000000;
  }
  
  .contact-txt a:hover {
    color: #646464;
  }

  /* ---------------------------- */
/* Footer                       */
/* ---------------------------- */
.up {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #171717;
    color: #737373;
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    margin-left: -1.25rem;
    display: flex;
}
  
footer {
    background-color: #171717;
    width: 100%;
    height: 62px;
    color: #737373;
    text-align: left;
    padding-right: 8rem;
    display: flex;
    justify-content: space-between;
}

.icons a + a {
    margin-left: 20px;
}

.icons .fa-brands {
    color: #fff;
    background-color: #171717;
    font-size: 20px;
}

.up .fa-solid {
    color: #fff;
}

footer p {
    margin-top: 25px;
}

.icons {
    margin-top: 25px;
    margin-left: 170px;
}